/* Das ist ein Kommentar in CSS */

/* Der Body-Selector setzt regeln für die ganze Page */
body {
  font-family: sans-serif;
  background: #171717;
  color: #D4D4D8;
}

/* Ein Element-Selector gilt für alle Elemente dieses Typs */
h2 {
  border-bottom: 1px solid currentColor;
}

/* Class-Selectors können über das Class-Attribut beliebige Elemente ansprechen */
.highlight {
  background: #262626;
  padding: 16px;
  border: 1px solid #737373;
}
