{#template für filter-ansicht (z.b. beitrage von kategorie x)#}

{% extends "layouts/base.twig" %}
{% block content %}
  <h1>Kategorie: {{ category }}</h1>
  {% for post in posts %}
    <article>
      <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
      <p>{{ post.preview.read_more('Weiterlesen') }}</p>
    </article>
  {% endfor %}
{% endblock %}
