{% extends "_layout.twig" %}
{% block content %}
  <!-- --------------------------------------------------------------------- -->



  {# Template für die Startseite #}
  <div class="limit">
    <nav>
      <a href="/">Home</a>
      <a href="/2022/07/21/kontakt/">Kontakt</a>
    </nav>

    <h1>Home</h1>
    <ul>{{ posts }}</ul>
  </div>



  <!-- --------------------------------------------------------------------- -->
{% endblock %}
