/* sane default rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  margin: 0;
  background: white;
  color: black;
}

input,
textarea,
select,
label,
button {
  display: block;
  width: 100%;
}

img, video {
  display: block;
  max-width: 100%;
  margin-bottom: 16px;
}

figure {
  margin: 0;
}

a:any-link {
  color: inherit;
}

ul:empty,
p:empty,
img[src=""] {
  display: none;
}

