/* sane default rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  line-height: 1.5;
  margin: 0;
  background: white;
  color: black;
}

img,
video,
input,
textarea,
select,
label,
button {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

ul:empty,
p:empty,
img[src=""] {
  display: none;
}

